{% set genie = namespace(dialect="elasticsearch") %}
{
  "query": {
    "bool": {
      "must": [
        {{ name }},
        {{ year }}
      ]
    }
  }
}

{% set genie = namespace(dialect="solr") %}
{{ name }} AND {{ year }}
